# figure out the comment mess
if [ -n "$NAGIOS_NOTIFICATIONAUTHOR" -a -n "$NAGIOS_NOTIFICATIONCOMMENT" ]; then
  comment=$NAGIOS_NOTIFICATIONCOMMENT
  author=${NAGIOS_NOTIFICATIONAUTHORALIAS:-$NAGIOS_NOTIFICATIONAUTHOR}
elif [ -n "$NAGIOS_SERVICEACKAUTHOR" -a -n "$NAGIOS_SERVICEACKCOMMENT" ]; then
  comment=$NAGIOS_SERVICEACKCOMMENT
  author=${NAGIOS_SERVICEACKAUTHORALIAS:-$NAGIOS_SERVICEACKAUTHOR}
elif [ -n "$NAGIOS_HOSTACKAUTHOR" -a -n "$NAGIOS_HOSTACKCOMMENT" ]; then
  comment=$NAGIOS_HOSTACKCOMMENT
  author=${NAGIOS_HOSTACKAUTHORALIAS:-$NAGIOS_HOSTACKAUTHOR}
fi

# comment or not comment
if [ -n "$comment" -a -n "$author" ]; then
  message="$comment by $author"
else
  message="$NAGIOS_SERVICEOUTPUT @ $NAGIOS_SHORTDATETIME"
fi
title="$NAGIOS_NOTIFICATIONTYPE"

# subject
if [ "$ALERT_TYPE" == "service" ]; then
  subject="$NAGIOS_SERVICESTATE $NAGIOS_SERVICEDESC/$NAGIOS_HOSTNAME"
else
  subject="$NAGIOS_HOSTSTATE $NAGIOS_HOSTNAME"
fi
